body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;
    width: 90vw;
}

.container .card {
    margin: 15px;
    height: 80vh;
    border-radius: 50px;
    
    display: flex;
    align-items: end;
    position: relative;
    flex: .4;
    width: 15vh;
}

.container .card:hover{
    cursor: pointer;
}

.container .active{
    flex: 5;
    text-align: left;
    transition:   all 700ms ease-in;
    width: 150vh;
}

.container h3{
    margin-left: 20px;
    opacity: 0;

}
.container .active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;

}

.hidden{
    display: none;
}

@media (max-width: 680px) {
    .container {
      margin:0;
      padding:0;
    }
  
    .card{
        width: 5vh !important;
        margin:0 10px !important;
    }

    .active{
        width: 40vh !important;
    }
  }

